*{
padding: 0;
margin: 0;
font-family: sans-serif;

}
body{
background: linear-gradient(#111);
height: 100vh;
width: 100%;
  display: flex;
    justify-content: center;
    align-items: center;

}
.container{

    background-color: rgba(255, 255, 255, 0.1);
    height: 80%;
    width:  80%;
    border-radius: 30px;
  
    
}
body::after{
content: '';
width: 100%;
height: 100%;
background-color: blue;
position: absolute;
z-index: -1;
clip-path: circle(40% at right 70%);


}
nav{

 display: flex;
 justify-content: space-between;
 align-items: center;
width: 80%;
margin: auto;
padding: 20px 0;

}
.logo{
text-transform: uppercase;
font-size: 32px;
font-weight: 700;
color: white;
text-decoration: none;
letter-spacing: 3px;
}
nav ul li{
 display: inline-block;
 margin: 0 6px;

}
nav ul li a{
color: white;
 text-decoration: none;
 font-size: 18px;
 font-weight: 500;

}
nav ul li a:hover{
    color: blue;
}
.content{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.content .text{
color: white;
width: 40%;

}
.content .text h2{
font-size: 40px;
text-transform: uppercase;
font-weight: 700;
letter-spacing: 2px;

}
.content .text p{
font-size: 18px;
line-height: 25px;
margin: 10px 0;
letter-spacing: 1px;


}
.content .image{
width: 40%;

}
.content .image img{
    width: 400px;
}
@media (min-width:950px) and (max-width:1150px) {
    .content .image img{
        width: 330px;
    }
}
@media (max-width:950px) {
    .content{
       flex-direction: column;
       justify-content: center;
    }
    nav {
       flex-direction: column;
       justify-content: center;
    }
    .content .image{
        width: 80%;
    }
    .content .text{
        width: 80%;
    }
    body::after{

        clip-path: circle(50% at bottom);
    }
    

}